body{
	padding-top: 45px;
	background: #eee;
}

h1,h2,h3,h4,h5{
	text-transform: uppercase;
	font-family: 'Rufina', serif;
}

h1{
	font-size: 5em;

}
h2{
	font-size: 4em;
}

p{
	font-family: 'PT Sans', sans-serif;
}

span{
	font-family: 'PT Sans', sans-serif;
}

hr {
	width: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #000;
}