.contact-section{
	background: #fff;
	padding: 15em 0;
	text-align: center;

	.contact-details{
		h3{
			padding: 10px 0; 
		}
		i{
			border-radius: 50%;
			margin-bottom: 15px;
			padding: 60px;
			font-size: 6em;
			background: #eee;
		}
	}
}