.navbar-brand{
	img{
		height: auto;
		width: 100px;
	}
}

.navbar-inverse {
	background-color: #222;
	border: none;
	padding: 15px 0;
}

.navbar-inverse .navbar-nav>li>a {
	color: #eee;
}

.navbar-right{
	margin: 6px 0;
}