.main-message{
	padding: $desktop-margin;
	
	.message-details{
		img{
			width: 300px;		
		}
		p{
			font-size: 1.7em;
		}
		hr {
			width: 60%;	
			margin-left: 0;
		}
		span{
			background: #000;
			padding: 3px;
			border-radius: 4px;
			font-size: .8em;
			color: #eee;
			margin: 10px;
		}
	}
}

@media screen and (max-width: 767px){

	.main-message{
		padding: 9em 0;

		
		.message-details{
			text-align: center;
			hr{
				display: none;
			}


			img{
				width: 250px;
				display: none;
			}

			span{
				display: none;
			}
		}
	}

	

}

@media screen and (max-width: 500px){
	h1{
		margin-bottom: 10px;
	}
}



