.portfolio-section{
	padding: $desktop-margin;
	text-align: center;
	background: #fff;

	@media screen and (max-width: 767px){
		padding: $mobile-margin;
	}

	.projects{
		padding: 25px 0 45px 0;
		
		img{
			
			max-width: 100%;
			border: 1px solid #eee;

			@media screen and (max-width: 767px){
				margin-bottom: 2em;
			}
		}
	}
}
