.team-section{
	background: #fff;
	padding: $desktop-margin;
	text-align: center;

	@media screen and (max-width: 767px){
		padding: $mobile-margin;
	}

	.team-members{

		@media screen and (max-width: 500px){

			img{
				border: none;
				margin: 0 auto;
			}
		}
		img{
			margin-bottom: 25px;
			max-width: 100%;
			border: 12px solid #eee;


		}
	}
}