/* line 11, ../../sass/share/_variables.scss */
.btn-primary {
  background-color: #ABABAC;
  padding: 15px 20px;
  border: 0;
}
/* line 15, ../../sass/share/_variables.scss */
.btn-primary:hover {
  background-color: #0076A7;
}

/* line 1, ../../sass/share/_body.scss */
body {
  padding-top: 45px;
  background: #eee;
}

/* line 6, ../../sass/share/_body.scss */
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-family: 'Rufina', serif;
}

/* line 11, ../../sass/share/_body.scss */
h1 {
  font-size: 5em;
}

/* line 15, ../../sass/share/_body.scss */
h2 {
  font-size: 4em;
}

/* line 19, ../../sass/share/_body.scss */
p {
  font-family: 'PT Sans', sans-serif;
}

/* line 23, ../../sass/share/_body.scss */
span {
  font-family: 'PT Sans', sans-serif;
}

/* line 27, ../../sass/share/_body.scss */
hr {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #000;
}

/* line 1, ../../sass/share/_nav.scss */
nav {
  padding: 10px 0;
  background: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}
/* line 10, ../../sass/share/_nav.scss */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 14, ../../sass/share/_nav.scss */
nav ul li {
  display: inline-block;
  padding: 0 40px;
}
/* line 17, ../../sass/share/_nav.scss */
nav ul li a {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 1.5em;
  color: #fff;
}
/* line 22, ../../sass/share/_nav.scss */
nav ul li a:hover {
  color: #eee;
}
/* line 25, ../../sass/share/_nav.scss */
nav ul li a img {
  height: auto;
  width: 100px;
}

/* line 2, ../../sass/home-page/_home-page-header.scss */
.navbar-brand img {
  height: auto;
  width: 100px;
}

/* line 8, ../../sass/home-page/_home-page-header.scss */
.navbar-inverse {
  background-color: #222;
  border: none;
  padding: 15px 0;
}

/* line 14, ../../sass/home-page/_home-page-header.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #eee;
}

/* line 18, ../../sass/home-page/_home-page-header.scss */
.navbar-right {
  margin: 6px 0;
}

/* line 1, ../../sass/home-page/_main-message.scss */
.main-message {
  padding: 15em 0;
}
/* line 4, ../../sass/home-page/_main-message.scss */
.main-message .message-details {
  text-align: left;
}
/* line 10, ../../sass/home-page/_main-message.scss */
.main-message .message-details img {
  height: auto;
  width: 300px;
}
/* line 13, ../../sass/home-page/_main-message.scss */
.main-message .message-details p {
  font-size: 1.7em;
}
/* line 16, ../../sass/home-page/_main-message.scss */
.main-message .message-details hr {
  width: 60%;
  margin-left: 0;
}
/* line 20, ../../sass/home-page/_main-message.scss */
.main-message .message-details span {
  background: #000;
  padding: 5px;
  border-radius: 8px;
  color: #eee;
}

/* line 1, ../../sass/home-page/_portfolio-section.scss */
.portfolio-section {
  padding: 15em 0;
  text-align: center;
  background: #fff;
}
/* line 6, ../../sass/home-page/_portfolio-section.scss */
.portfolio-section .projects {
  padding: 25px 0;
}
/* line 8, ../../sass/home-page/_portfolio-section.scss */
.portfolio-section .projects h3 {
  font-size: 1.3em;
}
/* line 11, ../../sass/home-page/_portfolio-section.scss */
.portfolio-section .projects img {
  max-width: 100%;
  width: 280px;
  border: 1px solid #eee;
}

/* line 1, ../../sass/home-page/_team-section.scss */
.team-section {
  padding: 15em 0;
  text-align: center;
}
/* line 6, ../../sass/home-page/_team-section.scss */
.team-section .team-members img {
  padding: 25px 0;
}

/* line 1, ../../sass/home-page/_contact-section.scss */
.contact-section {
  background: #fff;
  padding: 15em 0;
  text-align: center;
}
/* line 7, ../../sass/home-page/_contact-section.scss */
.contact-section .contact-details h3 {
  padding: 10px 0;
}
/* line 10, ../../sass/home-page/_contact-section.scss */
.contact-section .contact-details i {
  border-radius: 50%;
  margin-bottom: 15px;
  padding: 60px;
  font-size: 6em;
  background: #eee;
}
